<div class="header">
  <span>express demo</span>
  <p><a href="/">返回首页</a><span> | </span><a href="/login">登录</a><span> | </span><a href="/register">注册</a><% if(data.istoken){ %><span> | </span><a href="/editPwd">修改密码</a><% } %></p>
</div>
