<div class="header">
  <span>express demo</span>
  <p><a href="/user/">返回首页</a><span> | </span><a href="/user/login">登录</a><span> | </span><a href="/user/register">注册</a><% if(data.istoken){ %><span> | </span><a href="/user/editPwd">修改密码</a><% } %></p>
</div>
