<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href='/dist/css/base.css' />
    <link rel="stylesheet" type="text/css" href='/dist/css/index.css' />
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
