<%include ./com/head.ejs %>
  </head>
  <body>
    <%include ./com/header.ejs %>
    <%include ./com/footer.ejs %>

    <div class="indexPage content">
        <div class="con">
            欢迎 <%= username %> 会员.
        </div>
    </div>

<%include ./com/foot.ejs %>
  </body>
</html>
