<%include ./com/head.ejs %>
  </head>
  <body>
    <%include ./com/header.ejs %>
    <%include ./com/footer.ejs %>

    <div class="loginPage content">
        <div class="box">
            <p class="tit">登录</p>
            <form method="post" action="/user/login">
                <label class="bootclearfix">
                  <span>用户名: </span>
                  <input type="text" name="username" value="<%= username %>" class="inText" />
                </label>
                <label class="bootclearfix">
                  <span>密  码: </span>
                  <input type="password" name="pwd" value="" class="inText" />
                </label>
                <!-- <a href="javascript:;" class="btn">注册</a> -->
                <button>登录</button>
            </form>
            <p class="text2"><span>没有账号?</span><a href="/user/register">立即注册</a></p>
        </div>
    </div>

  <%include ./com/foot.ejs %>
  </body>
</html>
