<%include ./com/head.ejs %>
  </head>
  <body>
    <%include ./com/header.ejs %>
    <%include ./com/footer.ejs %>

    <div class="loginPage content">
        <div class="box">
            <p class="tit">wx</p>
            
        </div>
    </div>

  <%include ./com/foot.ejs %>
  </body>
</html>
